<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="myBeanPostProcessor" class="spring.life.MyBeanPostProcessor" />
    <bean name="personBean" class="spring.life.PersonBean"
          init-method="initMethod" destroy-method="destroyMethod">
        <property name="id" value= "123"/>
        <property name="name" value="张三" />
    </bean>

</beans>
